* {
  /* Reset Styling */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid red; */
}

:root {
  font-family: sans-serif;

  --white: white;
  --black: black;
  --black-transparent: rgba(0, 0, 0, 0);
  --purple: purple;
  --white80: rgb(220, 220, 220);

  --dark-overlay-gradient: linear-gradient(
    0deg,
    var(--black),
    var(--black-transparent)
  );

  --img-nature: url(./img/nature.jpg);
  --img-beach: url(./img/beach.jpg);
  --img-sheep: url(./img/sheep.jpg);
}

/* ////////////////// */
/* ////////////////// */
/* General Styling */

body {
  background-color: var(--black);
  color: var(--white);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

/* ////////////////// */
/* ////////////////// */
/* Layout Helper */

.full-screen {
  width: 100vw;
  height: 100vh;
}

.half-stretch {
  float: left;
  width: 50%;
  height: 100%;
}

.third-stretch {
  float: left;
  width: 33.333333%;
  height: 100%;
}

/* ////////////////// */
/* ////////////////// */
/* Header Styling */

header {
  width: 100%;
  height: 80px;

  position: fixed;
  bottom: 40px;
}

header nav {
  height: 100%;
  width: 700px;

  display: block;
  margin: auto;

  border-radius: 40px;
  background-color: var(--white);
}

nav ul {
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;

  margin: 28px 60px;
}

nav ul li a {
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--purple);
}

/* ////////////////// */
/* ////////////////// */
/* First Section Styling */

#top-left-area {
  background: var(--img-beach);
  background-size: cover;
}

#top-right-area {
  padding: 30% 40px;
}

#first-section h2 {
  font-weight: 200;

  margin-top: 40px;
}

/* ////////////////// */
/* ////////////////// */
/* Second Section */

#second-section {
  /* Float-Layout funktioniert nur in einem Container, dessen Größe definiert ist.
     Deswegen müssen wir die Höhe hier setzen.
     Alternativ könnten wir Inline-Block-Elemente oder Flexbox fürs Layout nutzen. */
  height: 400px;
}

#second-section section {
  padding: 96px;
}

#second-left-area {
  text-align: center;

  padding: 96px;
}

#second-right-area {
  background: var(--img-sheep);
  background-position: bottom left;
  background-attachment: fixed;
  background-size: cover;
}

#second-section p {
  font-size: 1.5rem;
  color: var(--white80);

  margin: 48px;
}

/* ////////////////// */
/* ////////////////// */
/* Third Section */

#third-section {
  background: var(--dark-overlay-gradient), var(--img-nature);
  background-size: cover;
  background-attachment: fixed;

  text-align: center;

  padding: 128px 64px 128px 64px;
}

#third-section h3 {
  color: var(--white80);

  margin-top: 64px;
}

/* ////////////////// */
/* ////////////////// */
/* Footer */

footer {
  width: 100%;
}

footer section {
  text-align: center;

  padding: 96px 24px 48px 24px;
}

footer section ul {
  list-style-type: none;
}

footer h4 {
  margin-bottom: 48px;
}

footer li {
  margin: 24px;
}

footer li:last-child {
  margin-bottom: 200px;
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--purple);
}
